name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  CI:
    if: ${{ github.repository == 'googleapis/ruby-style' }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            ruby: "2.7"
          - os: ubuntu-latest
            ruby: "3.0"
          - os: ubuntu-latest
            ruby: "3.1"
          - os: ubuntu-latest
            ruby: "3.2"
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
    - name: Install Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
    - name: Install tools
      shell: bash
      run: "bundle install && gem install --no-document toys"
    - name: Test
      shell: bash
      run: toys rubocop < /dev/null
